.container {
    width: 100%;
    
   
    padding: 0px 9rem;
    
  }

  @media (max-width: 1200px){
    .container{

      padding: 0px 4rem;
    }
  }

  @media (max-width: 600px){
    .container{

      padding: 0px 2rem;
    }
  }
  