h1,h2,h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: normal;
    font-size: 64px;
    color: var(--dark-color-15);
}

h2{
    text-shadow: 5px 5px 0px #D4E4F4;


    @media (max-width: 600px) {
        font-size: 32px;

    }

}


h1 {
    
    font-size: 4.8rem;
    color: var(--gray-colors-100);
}


h3 {

    font-size: 2.4rem;
    
}

p{
    font-family: Source Sans 3;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    color: var(--Grey-Color);
}

.subtitle{
    color: var(--accent-color-5);
    leading-trim: both;
    text-edge: cap;
    font-size: 2rem;


    @media (max-width: 600px){
        font-size: 13px;
    }

}

        /* Card Servicios */

.card-servicios {


    max-width: calc(33.333% - 14px);
    box-sizing: border-box;
    padding: 3rem 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;

    border-radius: 15px;
    background: rgba(255, 249, 253, 0.60);
    box-shadow: 5px 5px 20px 0px #D4E4F4;
}
 .card-servicios .tag a {
    display: flex;
    gap: 1rem;
    color: var(--accent-color-5);
    font-size: 20px;
    font-family: Source Sans 3;
    font-weight: 300;
    align-items: center;

 

}

.card-servicios .tag a img {
   

}

.card-servicios span{
    color: var(--accent-color-5);
    font-size: 32px;
    font-weight: 600;
    display: inline-block;

}

.card-servicios p{
    
    font-size: 20px;
    font-weight: 400;
    font-family: 'Source Sans 3', sans-serif;

}



/* Card Testimonios */

.card-testimonios{
    border-radius: 10px;
    background: var(--light-color-60-pure-white, #FFF9FD);
    box-shadow: 5px 5px 20px 0px #D4E4F4;
    padding: 3.5rem;
    width: 100%;
    max-width: 50.8rem;

}










.btn-primery{
    border-radius: 15px;
    border: 0.5px solid var(--dark-color-15);
    padding: 1.8rem 3.7rem;
    color: var(--dark-color-15);
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
}

.btn-second2 {
    
    display: inline-block;
    padding: 1.8rem 2.5rem;
    font-weight: 500;
    font-size: 18px;
    
    color: var(--accent-color-5);
    border-radius: 15px;
    border: 1px solid var(--accent-color-5);
}

.btn-primery-active {
   
    display: inline-block;
    padding: 1.8rem 3.7rem;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.01em;
    color: var(--light-color-60-pure-white);
    border-radius: 15px;
    background-color: var(--accent-color-5);
    box-shadow: 6px 8px 0px 0px var(--dark-color-15);

 
    
}

.btn-second {
    color: var(--Grey-Color);

    border-bottom: 1px solid var(--Grey-Color)
}




/* ====== Perunta frequentes */








