@media(max-width: 1600px) {
    .s-capital .container .imagem{
        max-width: 700px;
        height: 700px;
    }

    .s-capital .container .imagem img {
        max-width: 700px;
        height: 700px;
    }


    .s-info {
        padding: 72px 170px;
    }


}




@media(max-width: 1200px) {
    header {
        box-shadow: 0px 1px 10px 0px rgba(102, 102, 102, 0.15);
        position: fixed;
        z-index: 200;
    }

    header .container .logoHeader{
        gap: 1rem;
    }

    header .container .logoHeader .textHeader strong {
        font-size: 18px;
    }
    header .container .logoHeader .textHeader p{
        font-size: 12px; 
    }

    header nav ul{
        gap: 3rem;
    }

    .s-capital{
        position: relative;
    }
    
    .s-capital .container {
    margin-top: 30px;
    }

    .s-capital .container .imagem{
        max-width: 900px;
        height: 900px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
   
    .s-capital .imagem-mobile{
       


    }

    .s-capital .imagem-mobile img{
     
        position: absolute;
        right: 46px;
        top: 102px;

    }


    .s-capital .container {
        flex-direction: column-reverse;
       
    }

    .s-capital .text{
        max-width: 86.3rem;
        gap: 3rem;
    }

    .s-capital .text p{
        max-width: 86.3rem;
    }

    .s-capital .text .btns-capital {
        width: 50%;
    }
      /* ========= Responsivo Info */

    .s-info{
        padding: 72px 40px;
    }


    /* ========= Responsivo Servicios */

    .s-servicios .container .all-cards .card-servicios{
        max-width: calc(50% - 10px);
    }



   

}
@media(max-width: 991px) {

    header nav {
        display: none;
    }

    header .logoHeader {
        justify-content: space-between;
        width: 100%;
    }
header .menu-mobile {
        display: block;
    }

    header .btn-primery {
        display: none;
    }

    .s-capital .text .btns-capital {
        width: 60%;
    }

    .s-info .container{
        flex-direction: column;
        justify-content: flex-end;
        align-items: start;
    }
    .s-info .container .card-info{
        width: 100%;
       
      
    }

    .s-info .container .card-info .text-info{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
       
    }
    

    
}

    

@media(max-width: 768px) {
  
    .s-capital  .container .imagem{
        max-width: 700px;
        max-height: 700px;
    }

   

   


}

@media(max-width: 600px) {
    .s-capital  .container .imagem{
        display: none;
    }
    .s-capital .text h1{
        font-size: 32px;
        
    }

    .s-capital .text span{
        font-size: 32px;
      
    }

    .s-capital .text p{
        max-width: 100%;
    }

    .s-capital .text .btns-capital {
        width: 100%;
    }

    .s-capital  .imagem-mobile{
        display: flex;
    }



/* Responsivo servicios */
.s-servicios {
    padding: 6rem 0;
}

.s-servicios .card-servicios span{
    font-size: 2rem;
}

.s-servicios .card-servicios .tag a{
    font-size: 13px;
}

.s-servicios .card-servicios p{
    font-size: 13px;
}

.s-servicios .container h2{
    margin-bottom: 4rem;
    margin-top: 2rem;
    font-size: 32px;
}

.s-servicios .BgImg {
    display: none;
}

    .s-servicios .container .all-cards{
        
        flex-direction: column;
        

    }

    .s-servicios .container .all-cards .card-servicios{
        max-width: 100%;
    }

    
}

@media(max-width: 480px) {
    html {
        font-size: 55%;
    }

    header .logo {
        max-width: 130px; 
    }

    .s-hero {
        padding: 4rem 0px;
    }

    .s-hero .text p {
        margin-bottom: 3rem;
    }

    .s-hero .imagem {
        height: 30rem;
    }

    .s-hero .imagem img {
        max-width: 100%;
    }
    
    h1 {
        font-size: 4.2rem;
    }

    .s-card-feature {
        padding: 4rem 0rem;
    }

    .s-card-feature .main-area {
        padding-bottom: 6rem;
    }

    .s-card-feature .title p {
        max-width: 80%;

    }

    .s-card-feature .second-area {
        margin-top: 4rem;
    }

    .s-card-feature .second-area .top {
        margin-bottom: 3rem;
    }

    .s-card-feature .second-area .top p {
        margin: auto;
    }
    .s-card-feature .second-area .all-imagem {
        gap: 0.8rem 2%; 
    }

    .s-card-feature .second-area .all-imagem .img {
        width: 49%;
    }

    .s-newsletter {
        padding: 4rem 0rem;
    }

    footer {
        padding: 4rem 0rem;
    }

    footer main {
        padding-bottom: 4rem;
    }

    footer .copy  {
        flex-direction: column;
        
    }

    footer .copy p {
        margin-bottom: 2rem;
    }

    footer main nav {
        flex-direction: column;
        align-items: center;
    }

    footer main nav .item {
        margin-bottom: 4rem;
    }
    footer main nav .item:last-child {
        margin-bottom: 0;
    }

    footer main nav .item ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    }

